examples/example-1.json
[{"id":"a35c3d75.a435b","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e525703b.c983b","type":"debug","z":"a35c3d75.a435b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":60,"wires":[]},{"id":"364f4ee1.35f202","type":"debug","z":"a35c3d75.a435b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":100,"wires":[]},{"id":"ffb75259.ba532","type":"inject","z":"a35c3d75.a435b","name":"DblClick","props":[{"p":"logic","v":"dblclick","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":100,"y":80,"wires":[["5359ab9e.4439f4"]]},{"id":"5949a922.0a5908","type":"inject","z":"a35c3d75.a435b","name":"Hold","props":[{"p":"logic","v":"hold","vt":"str"},{"p":"stepP","v":"5","vt":"str"},{"p":"stepN","v":"-10","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":140,"wires":[["5359ab9e.4439f4"]]},{"id":"372c4d24.6e9e12","type":"inject","z":"a35c3d75.a435b","name":"Release","props":[{"p":"logic","v":"release","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":100,"y":180,"wires":[["5359ab9e.4439f4"]]},{"id":"aabe618a.0ca7","type":"inject","z":"a35c3d75.a435b","name":"Click","props":[{"p":"logic","v":"click","vt":"str"},{"p":"custom","v":"Flash","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":40,"wires":[["5359ab9e.4439f4"]]},{"id":"5359ab9e.4439f4","type":"automation controller","z":"a35c3d75.a435b","name":"","inputType":"msg","inputValue":"logic","repeatMsg":"lat","seperated":true,"behavior":"mul","rules":[{"id":0,"rid":0,"eid":"rules-custom0","name":"Click","resetInitial":true,"matchMode":"event","active":"click","activeType":"str","inactive":"inactive","inactiveType":"str","onInactive":"","onInactiveType":"nul","triggerActive":true,"mode":"fixed","output":"payload","outputType":"msg","repMsg":"","repMsgType":"payl","cool":"1","coolType":"s","rep":"500","repType":"ms","to":"60","toType":"s","sValue":"1","sValueType":"num","iInit":"0","iInitType":"num","iMin":"0","iMinType":"num","iMax":"255","iMaxType":"num","iSteps":"1","iStepsType":"num","iCycle":true,"iEdge":false,"bInit":"0","bInitType":"num","bIPos":true,"bMin":"0","bMinType":"num","bMax":"255","bMaxType":"num","bUp":"1","bUpType":"num","bDown":"1","bDownType":"num","bEdge":true,"fInit":"0","fInitType":"num","fValues":[{"v":"ON","t":"str"},{"v":"OFF","t":"str"},{"v":"custom","t":"msg"}],"fCycle":true},{"id":1,"rid":1,"eid":"rules-custom1","name":"Dbl.Click","resetInitial":true,"matchMode":"event","active":"dblclick","activeType":"str","inactive":"inactive","inactiveType":"str","onInactive":"","onInactiveType":"nul","triggerActive":true,"mode":"iterate","output":"payload","outputType":"msg","repMsg":"","repMsgType":"payl","cool":"0","coolType":"ms","rep":"500","repType":"ms","to":"60","toType":"s","sValue":"1","sValueType":"num","iInit":"0","iInitType":"num","iMin":"0","iMinType":"num","iMax":"255","iMaxType":"num","iSteps":"1","iStepsType":"num","iCycle":true,"iEdge":false,"bInit":"0","bInitType":"num","bIPos":true,"bMin":"0","bMinType":"num","bMax":"255","bMaxType":"num","bUp":"1","bUpType":"num","bDown":"1","bDownType":"num","bEdge":true,"fInit":"0","fInitType":"num","fValues":[{"v":"0","t":"num"}],"fCycle":true},{"id":2,"rid":2,"eid":"rules-custom2","name":"Hold / Release","resetInitial":true,"matchMode":"state","active":"hold","activeType":"str","inactive":"release","inactiveType":"str","onInactive":"Hold now inactive!","onInactiveType":"str","triggerActive":true,"mode":"bounce","output":"payload","outputType":"msg","repMsg":"","repMsgType":"payl","cool":"0","coolType":"ms","rep":"500","repType":"ms","to":"60","toType":"s","sValue":"1","sValueType":"num","iInit":"0","iInitType":"num","iMin":"0","iMinType":"num","iMax":"255","iMaxType":"num","iSteps":"1","iStepsType":"num","iCycle":true,"iEdge":false,"bInit":"0","bInitType":"num","bIPos":true,"bMin":"0","bMinType":"num","bMax":"50","bMaxType":"num","bUp":"stepP","bUpType":"msg","bDown":"stepN","bDownType":"msg","bEdge":true,"fInit":"0","fInitType":"num","fValues":[{"v":"0","t":"num"}],"fCycle":true}],"outputs":3,"x":360,"y":80,"wires":[["e525703b.c983b"],["364f4ee1.35f202"],["ec30842b.c23528"]]},{"id":"ec30842b.c23528","type":"debug","z":"a35c3d75.a435b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":140,"wires":[]}]